

var config;

config = {

  // Development specific configuration values
  development: {
    express: {
      port: 8080
    },
    mongo: {
      db: 'mongodb://some-host/some-db',
    },
    foursquare: {
      clientId: '',
      clientSecret: ''
    },
    aws: {
      accessKeyId: '', 
      secretAccessKey: ''
      bucket: ''
    },  
    geocoder: {
      googleApiKey: ''
    },
    apn: {
      cert: 'cert.pem',
      key: 'key.pem'
    }    
  },

  // Production specific configuration values
  // that will be applied when node is launched with
  // 
  produdction: {
    express: {
      port: 8080
    },
    mongo: {
      db: 'mongodb://some-host/some-db',
    },
    foursquare: {
      clientId: '',
      clientSecret: ''
    },
    aws: {
      accessKeyId: '', 
      secretAccessKey: ''
      bucket: ''
    },  
    geocoder: {
      googleApiKey: ''
    },
    apn: {
      cert: 'cert.pem',
      key: 'key.pem'
    }    
  }
};

module.exports=config;